
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/<%=@recipe.id%>/edit">Edit post</a></li>
    <li><a href="/<%=@recipe.slug%>/delete">Delete post</a></li>
  </ul>
</div>
<h2>Recipe: <%=@recipe.name%></h2>

<!-- <form action="/<%=@recipe.id%>/edit">
  <input type="submit" value="Edit">
</form>
<form action="/<%=@recipe.slug%>/delete">
  <input type="submit" value="Delete">
</form> -->
<h4>Posted by: <%=@recipe.user%></h3>
<br>
<p><%=@recipe.description%></p>
<h4><a href="<%=@recipe.url%>">Source</a></h3>
<br>

<br>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseShowComment" aria-expanded="false" aria-controls="collapseShowComment">
  Show comments
</button>
<div class="collapse" id="collapseShowComment">
  <div class="well">
    <% if @comments == [] %>
      <p>There are no comments yet.</p>
    <% end %>
    <%@comments.each do |comment| %>
      <h4><%= comment.user %> writes:</h4>
      <br>
      <p><%= comment.comment_text %></p>
      <form action="/<%=@recipe.id%>/<%=comment.id%>/delete">
        <input type="submit" value="Delete">
      </form>
    <% end %>
  </div>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNewComment" aria-expanded="false" aria-controls="collapseNewComment">
  Post a comment
</button>

<div class="collapse" id="collapseNewComment">
  <div class="well">
    <form method="post" action="/new_comment/<%=@recipe.id%>">
      <p>User:</p>
      <input type="text" name="user">
      <p>Comment:</p>
      <p><textarea name="comment_text" cols=70 rows=5></textarea></p>
    <input type="submit" value="Submit">
    </form>
  </div>
</div>




